.about-us {
    flex-basis: 50vh;
    background-image: url('../images/phone_banner_photo.png');
    background-size: cover;
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__title {
        font-family: 'Patua One';
        font-weight: 200;
        font-size: 1.5rem;
        color: white;
        letter-spacing: 1px;
    }

    &__text {
        margin-top: 1rem;
        font-size: .9rem;
        color: rgba(255, 255, 255, 0.7);
    }

    &__button {
        margin-top: 1rem;
        width: 30%;
        height: 2rem;
        color: white;
        border-radius: 5px;
        border: none;
        background-color: rgb(255, 87, 87);
    }
}

@media (min-width: 768px) {
    .about-us {
        background-image: url('../images/tablet_banner_photo.png');
        padding: 0 1rem 2rem;

        &__title {
            font-size: 2.5rem;
        }

        &__text {
            margin-top: 1rem;
            font-size: 1.1rem;
        }

        &__button {
            width: 15%;
            height: 2.5rem;
        }
    }
}

@media (min-width:1200px) {
    .about-us {
        flex-basis: 60vh;
        background-image: url('../images/desktop_banner_photo.png');
        padding: 0 15rem 2rem;

        &__title {
            font-size: 2.5rem;
        }

        &__text {
            margin-top: 1rem;
            font-size: 1.1rem;
        }

        &__button {
            width: 15%;
            height: 2.5rem;
        }
    }
}