.companies {
    display: none;
}

@media (min-width:1200px) {
    .companies {
        display: block;
        flex-basis: 100%;
        text-align: center;

        &__title {
            @include title;
            font-size: 2.5rem;
            position: relative;

            &::before {
                @include beforeTitle;
                left: 47.5%;
                width: 5%;
            }
        }

        &__container {
            margin: 5rem 20%;
            width: 60%;
            height: 60vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__box {
            flex-basis: 25%;
            border: .5px solid rgba(128, 128, 128, 0.5);
        }

        &__company-name {
            line-height: 15vh;
            font-size: 1.8rem;
            color: rgba(128, 128, 128, 0.7);
        }
    }
}