.contact {
    flex-basis: 100%;
    width: 100%;

    &__title {
        margin-bottom: 5rem;
        @include title;
        text-align: center;
        position: relative;

        &::before {
            @include beforeTitle;
        }
    }

    .write-container {
        width: 90%;
        height: 100%;
        margin: 0 5% 5rem;
        padding: 1rem;
        border: 1px solid rgba(128, 128, 128, 0.5);

        &__heading {
            @include title;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.9);
            margin-bottom: 1.5rem;
        }

        &__text {
            margin-right: 1rem;
            margin-bottom: 1rem;
            font-size: .9rem;
        }

        .form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            &__label {
                margin: 2rem 0 .5rem;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.9);
            }

            &__item {
                padding: .5rem;
                border: 1px solid rgba(128, 128, 128, 0.5);

                &:focus {
                    outline: none;
                    border: 1px solid rgba(128, 128, 128, 1);
                }
            }

            &__checkbox {
                display: none;
            }

            &__button {
                display: block;
                width: 30%;
                height: 2rem;
                margin: 1.5rem auto 0;
                color: white;
                border-radius: 5px;
                border: none;
                background-color: $btnBgcColor;
                cursor: pointer;
            }
        }
    }
}

@media (min-width:768px) {
    .contact {

        &__title {
            font-size: 2.5rem;

            &::before {
                left: 45%;
                width: 10%;
            }
        }

        .write-container {
            padding: 2rem;

            &__heading {
                font-size: 1.5rem;
            }

            .form {

                &__label {
                    font-size: 1.1rem;
                }

                &__button {
                    align-self: flex-end;
                    width: 15%;
                    height: 2.5rem;
                    margin: 1.5rem 0 0;
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .contact {
        &__title {

            &::before {
                left: 47.5%;
                width: 5%;
            }
        }

        .write-container {
            width: 40%;
            margin: 0 30% 5rem;

            .form {

                &__label {
                    margin: 2rem 0 1rem;
                }

                .checkbox {
                    display: inline;
                    margin-top: 1rem;
                    font-size: .8rem;

                    &-input:checked {
                        background-color: blue;
                    }
                }

                &__button {
                    width: 10%;
                }
            }
        }
    }
}