.passions {
    flex-basis: 100%;
    width: 100%;
    text-align: center;

    &__title {
        margin: 3rem 0;
        font-family: 'Patua One';
        font-weight: 200;
        letter-spacing: 1px;
        position: relative;

        &::before {
            content: '';
            margin-top: 1rem;
            position: absolute;
            top: 100%;
            left: 40%;
            height: 3px;
            width: 20%;
            background-color: red;
        }
    }

    .items-container {
        width: 80%;
        margin: 0 10% 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .item-box {
            flex-basis: 100%;
            width: 100%;
            position: relative;

            &__background {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/Pattern.svg');
                background-size: cover;
                opacity: .5;
            }

            &__icon {
                margin: 5rem 0 1rem;
            }

            &__name {
                font-family: 'Patua One';
                font-weight: 200;
                letter-spacing: 1px;
                color: rgba(0, 0, 0, 0.8);
                margin-bottom: .5rem;
            }

            &__text {
                font-size: .9rem;
                color: rgba(0, 0, 0, 0.7);

                &--last-item {
                    margin-bottom: 5rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .passions {

        &__title {
            margin: 5rem 0;
            font-size: 2.5rem;

            &::before {
                left: 45%;
                width: 10%;
            }
        }

        .items-container {
            width: 90%;
            margin: 0 5% 5rem;
            flex-direction: row;
            justify-content: space-between;

            .item-box {
                flex-basis: 30%;

                &__icon {
                    margin: 5rem 0 2rem;
                }

                &__name {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .passions {

        &__title {
            &::before {
                left: 47.5%;
                width: 5%;
            }
        }

        .items-container {
            width: 60%;
            margin: 0 20% 5rem;
        }
    }
}