* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .main {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@import 'header';
@import 'about';
@import 'passion';
@import 'contact';
@import 'footer';